.result {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  background-color: rgb(234, 241, 241);
  align-items: center;
}
.result > h1 {
  margin: 15px;
}
.result > hr {
  width: 90vw;
}
.display > a {
  margin: 8px;
  padding: 5px;
  font-size: 20px;
}
.display {
  padding: 10px;
  border-bottom: 1px solid grey;
}
.container {
  border: 1px solid grey;
  margin-top: 30px;
  border-style: outset;
  text-align: center;
  background-color: white;
  width: 50vw;
}
